/*menu*/
.menu{
	list-style: none;
	padding: 0;
	background: #02020269;
	width: 100%;
	max-width: auto;
	margin: auto;
    text-align: right;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a:hover{background: #696969;}


body{
	font-family: arial, helvetica;
	background: #e8e8e8;
    margin: 0%;
}


hr{
    width: 900px;
    color: black;
}

/*primer cuadro*/

.centerdiv{

	display: flex;
	justify-content: center;
}

.container {
	overflow: hidden;
	width: 900px;
	padding: 50px;
}
  
  .container p {
	float: left;
	color: black;
	width: 60%;
	top: 10%;
	position: relative;
	font-size: 20px;
	margin-left: 50px;
	display: inline-table;
	border-right: 10px solid gray;
	padding-top: 40px;
	padding-bottom: 40px;
  }
  
  .container img {
	 display: flex;
	 padding-left: 30px; 
  }
